name: Build and Release

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: true

      - name: Build
        working-directory: ./react-native-mcu-manager
        run: pnpm build

  android-example:
      name: Android example app
      runs-on: ubuntu-latest
      needs: build
      steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '18'

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: true

      - name: Making sure the android example app builds
        run: |
          cd example
          npx expo prebuild --platform android

          cd android
          ./gradlew app:assembleRelease --no-daemon -Dorg.gradle.logging.level=warn

  ios-example:
      name: iOS example app
      runs-on: macos-15
      needs: build
      steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: true

      - name: Making sure the ios example app builds
        run: |
          cd example
          npx expo prebuild --platform ios

          cd ios
          xcodebuild build -workspace reactnativemcumanagerexample.xcworkspace -scheme reactnativemcumanagerexample CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

  release:
    name: Release
    needs: [android-example, ios-example]
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: Setup PNPM
      uses: pnpm/action-setup@v4
      with:
        version: 10
        run_install: true

    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      working-directory: react-native-mcu-manager
      run: npx semantic-release
